{% extends 'WebsiteBundle:Default:home.html.twig' %}

{% block content %}
    <h3>Wij zijn geopend op  </h3>
    <br/>
    <table class="openingsuren table">
        <thead></thead>
        <tbody>
            <tr>
                <th>Maandag: </th>
                <td>09:00 - 18:00</td>
            </tr>
            <tr>
                <th>Dinsdag: </th>
                <td>09:00 - 16:30</td>
            </tr>
            <tr>
                <th>Woensdag: </th>
                <td>09:00 - 12:00</td>
            </tr>
            <tr>
                <th>Donderdag: </th>
                <td>09:00 - 16:30</td>
            </tr>
            <tr>
                <th>Vrijdag: </th>
                <td>09:00 - 18:00</td>
            </tr>
            <tr>
                <th>Zaterdag: </th>
                <td>09:00 - 12:00</td>
            </tr>
            <tr>
                <th>Zondag: </th>
                <td>gesloten</td>
            </tr>
        </tbody>
    </table>
{% endblock %}